@font-face {
    font-family: iransans;
    src: url(fonts/iransans.ttf);
}
*{
    box-sizing: border-box;
}


::-webkit-scrollbar{
    width: 7px;
    height: 8px;
  }
  
  ::-webkit-scrollbar-track{
    background-color: rgba(245, 245, 245, 0.247);
    border-radius: 20px;
  }
  
  ::-webkit-scrollbar-thumb{
    background-color: goldenrod;
    border-radius: 20px;
  }
  
body{
margin: 0;
padding: 0;
 position: absolute;
 font-family: iransans;
 width: 100%; 
background-image:url(image-login/bg-auth.webp);
background-position: center;
background-color: rgba(0, 0, 0, 0.423);
background-blend-mode: overlay;
background-size:cover;
background-attachment: fixed;
backdrop-filter: blur(5px);
}


body {
    /* background: #1f2029; */
    margin: 0;
    color: white;
}

.mobile-navbar {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    padding: 0.5rem;
    background: #212431ee;
}

#drop-menu {
    display: none;
}

label[for="drop-menu"] {
    width: fit-content;
    display: block;
    margin: 0 0 0 auto;
}

.bars-icon {
    width: 3rem;
    height: 3rem;
    cursor: pointer;
}

.drop-menu-content {
    box-sizing: border-box;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem;
    background: #212431ee;
    backdrop-filter: blur(6px);
    z-index: 50;
}

#drop-menu:checked + .drop-menu-content {
    display: block;
}

summary {
    list-style: none;
}

.drop-down-detail {
    padding: 0.8rem 0;
    user-select: none;
}

.drop-down-detail > summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.drop-down-detail > summary > img {
    width: 1.5rem;
    height: 1.5rem;
    object-fit: contain;
    object-position: center;
    transition: rotate 300ms;
}

.drop-down-detail[open] > summary > img {
    rotate: -90deg;
}

.drop-down-detail > div {
    padding: 1rem;
}

.drop-down-detail > div > a {
    display: block;
    color: #dadada;
    text-decoration: none;
    margin-top: 0.5rem;
    padding: 0.4rem 0;
}


.desktop-navbar {
    display: none;
    height: 4.5rem;
    background: #2124317F;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
}

.sign-btn {
    background: #1a51e3;
    padding: 0.8rem 1rem;
    color: white;
    border-radius: 0.5rem;
    border: none;
    font-family: iransans;
    font-size: 10px;
    cursor: pointer;
    font-size: 10px;
}

.desktop-navbar__content {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 1.5rem;
    height: 100%;
}

.desktop-dropdown {
    display: flex;
    align-items: center;
    position: relative;
    height: 100%;
    cursor: pointer;
    z-index: 5;
    font-size: 13px;
}

.desktop-dropdown > div {
    display: none;
    width: max-content;
    min-width: 5rem;
    position: absolute;
    top: 100%;
    right: 0;
    backdrop-filter: blur(4px);
    background: #212431d4;
    padding: 1rem;
    border-radius: 1rem;
    animation: fading 400ms 1;
    cursor: default;
}

.desktop-dropdown:hover > div {
    display: block;
}

.desktop-dropdown > div > a {
    display: block;
    color: #949bab;
    text-decoration: none;
    padding: 0.2rem 0;
    transition: 300ms color;
}

.desktop-dropdown > div > a:hover {
    color: #fff800;
}

@media screen and (width > 840px) {
    .mobile-navbar {
        display: none;
    }

    .desktop-navbar {
        display: flex;
    }
}


.content{
    justify-content: center;
    align-items: center;
    display:flex;
    width: 100%;
    min-height: 100vh;
    font-family: iransans;

}
.content .main-form{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content:center ;
    place-items: center;
    align-items: center;
    width: 1000px;
    height: 500px;
    margin: 0px 5px;
    border-radius: 5px;
    background-color: rgba(243, 236, 236, 0.786);
    backdrop-filter: blur(10px);
     
}

.text{
    position: absolute;
    top: -25px;
    right: 10px;
    font-size: 11px;
}
.text a{
    text-decoration: none;
    color: white;
}


.content .main-form .login ,.content .main-form .register{
    position: relative;
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
    color: whitesmoke;
    text-align: center;
}

.content .main-form .login span,.content .main-form .register span{
    gap: 5px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
}

.content .main-form .login input,.content .main-form .register input{

position: relative;
margin-bottom: 20px;
text-align: center;
font-family: iransans;
font-size: 12px;
width: 50%;
outline: none;
background-color: #f0f0f0;
border: none;
border-radius: 3px;
border-right: 5px solid rgb(215, 185, 14);
transition: 500ms;
}
.content .main-form .login input:focus,.content .main-form .register input:focus{
    width: 60%;
    border-right:5px solid #E45826;
}
.content .main-form .login button a,.content .main-form .register button a{
    text-decoration: none;
    font-family: iransans;
    font-size: 12px;
    color: white;
}
.content .main-form .login button,.content .main-form .register button {
    background:linear-gradient(to right,#F0A500,#E45826);
    outline: none;
    border: none;
    border-radius: 8px;
    padding: 3px 20px;
}

.content .main-form .login a:nth-child(7) {
    text-decoration: none;
    color: gray;
    margin-top: 20px;
    font-size: 11px;
    align-items: center;
    display: flex;
    gap: 5px;
}
.content .main-form .login button:nth-child(6) {
    padding: 3px 30px;
}
.content .main-form .login span hr{
width: 60px;
border: 1px solid gray;
}
.content .main-form .login span{
    margin-top: 15px;
    margin-bottom: 15px;

}

.display-pic label{
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    place-items: center;
    border-radius: 5px;
    /* background: rgb(228,88,38); */
    background: linear-gradient(0deg, #1f2029fd 47%, #131415 100%);   
    transition: 500ms;
}

.display-pic label::after{
    content: 'ورود به حساب کاربری';
    position: relative;
    width: max-content;
    height: max-content;
    color:white;
}

.display-pic input:checked~label{
    left: 50%;
  }
  .display-pic input:checked~label::after{
    content: 'ثبت نام';
  }

  
footer{
    position: relative;
    display:flex;
    border-radius: 10px;
    flex-direction: column;
     justify-content: space-between; 
     background-color: #20222D;
  }
  .footer-links a{
    text-decoration: none;
    color: white;
  }
  footer .footer-logo img{
    margin-right: 1rem;
    margin-bottom: 1rem;
  }
  footer .footer-logo a{
    position: relative;
    display: flex;
    gap: 10px;
    text-decoration: none;
    color: whitesmoke;
    align-items: center;
    margin-top: 0.4rem;
  
  }
  .footer-logo img{
    box-shadow: 0px 0px 10px rgba(203, 202, 202, 0.374),0px 0px 5px red,0px 0px 3px blue;
    border-radius: 100%;
  }
  .footer-links {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    align-items: center;
  } 
  
  .footer-applications .applications{
    display: flex;
    align-items: center;
    margin:1rem 0rem 1rem 0rem;
    flex-direction: column;
    gap: 1rem;
  }
  
  .footer-applications .applications button{
    border-radius: 15px;
    outline: none;
    border: none;
    background-color: #1a51e3;
    
  }
  .footer-applications .applications button a{
    padding: 3px;
    text-decoration: none;
    font-family: iransans;
    color: white;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  
  
  
  .copyright span{
    text-align: center;
    line-height: 2;
    font-size: 12px;
    display: flex;
    justify-content: center;
    color: #66696e;
  }
  
  
  
  
  .footer-social-media div{
    display: flex;
    flex-direction:column;
    gap:2rem;
    position:absolute;
    left: 34px;
    bottom: 70px;
    
  }
  
  .footer-social-media a {
    color:#fff;
    border-radius:100%;
    text-align:center;
    text-decoration:none;
    position: relative;
    display: inline-block;
    width: 30px;
    height: 20px;
    padding-top:12px;
    transition: all .5s;
  
  }
  
 
  
  /* pop-up text */
  
  .footer-social-media a span {
    color:goldenrod;
    position:absolute;
    font-family:sans-serif;
    bottom:0;
    text-align:center;
    left:50px;
    right:-110px;
    top:-10px;
    padding:5px ;
    z-index:10;
    font-size:14px;
    border-radius:20px;
    background: rgba(0, 0, 0, 0.44);
    /* visibility:hidden;  */
    opacity:0;
    transition: 500ms;
    font-family: iransans;
  
    
  
  }
  
  /* pop-up text arrow */
  
  .footer-social-media a span:before {
    content:'';
  
  }
  
  
  
  .footer-social-media  a:hover span {

    opacity:1;
    transform: translateX(10px);
  }
  
  
  .footer-social-media div a svg  {
  display: flex;
  position: absolute;
  top: -4px;
  left: 8px;
  color: rgb(171, 134, 39);

  }
  

  @media screen and (max-width: 912px) {

    .footer-social-media div{
      display: flex;
      flex-direction:row;
      flex-wrap: wrap;
      gap:1rem;
      position:absolute;
      left: 34px;
      top: 15px;
      
    }
  
    .footer-social-media  a:hover span{
      display: none;
    }
  }
  
  
  
  @media screen and (max-width: 280px) {

    .footer-social-media div{
      display: flex;
      flex-direction:row;
      flex-wrap: wrap;
      gap:1rem;
      position:absolute;
      left: 2px;
      top: 15px;
      
    }
    .footer-social-media  a:hover span{
      display: none;
    }

  }